{% extends 'base.html' %}

<body>
    {% block app_content %}    
    <div class="container d-flex flex-column align-items-center">
    
    <!-- Display Result -->
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <p id="result" style="font-size: 24px;">
                    {{ result }}
                </p>
            </div>
        </div>
           
    <!-- Download Button -->    
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a class="btn btn-secondary btn-lg px-5 py-3" 
               href="{{ url_for('download_file', filename='processed.wav') }}" 
               role="button" style="font-size: 24px;">Download Processed File
            </a>
        </div>
      
    </div>

    <div class="row mt-5 align-items-center text-center">
        <!-- Original Audio -->
        <div class="col-md-6">
            <label for="user-audio" style="font-size: 18px; display: block;">Original Audio</label>
            <audio id="user-audio" controls style="width: 100%; margin-bottom: 20px;"
                   src="{{ url_for('download_file', filename='user.wav') }}?v={{ cache_bust }}">
                Your browser does not support the audio element.
            </audio>
            <img src="{{ url_for('download_file', filename='spectrogram_original.png') }}?v={{ cache_bust }}"
            alt="Original Audio Spectrogram" style="width: 100%; margin-top: 10px;">
        </div>
    
        <!-- Processed Audio -->
        <div class="col-md-6">
            <label for="processed-audio" style="font-size: 18px; display: block;">Processed Audio</label>
            <audio id="processed-audio" controls style="width: 100%; margin-bottom: 20px;"
                   src="{{ url_for('download_file', filename='processed.wav') }}?v={{ cache_bust }}">
                Your browser does not support the audio element.
            </audio>
            <img src="{{ url_for('download_file', filename='spectrogram_processed.png') }}?v={{ cache_bust }}"
            alt="Processed Audio Spectrogram" style="width: 100%; margin-top: 10px;">
        </div>
    </div>
    

    <!-- Start Over Button -->
    <div class="row mt-7">
        <div class="col-md-12 text-center">
            <button class="btn btn-secondary btn-lg px-5 py-3" 
                    type="button" id="startoverButton" style="font-size: 24px;">Try Again
            </button>
        </div>
    </div>    
    </div>    
    {% endblock %}
    </body>
    
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('#startoverButton').on('click', function() 
    {
        window.location.href = "{{ url_for('file_upload') }}"; // Redirect to start over on button click
    });

</script>
{% endblock %}

