{% extends 'base.html' %}
<body>
    {% block app_content %}    
    <div class="container d-flex flex-column align-items-center">
    
        <!-- Display Result -->
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <p id="result" style="font-size: 24px;">
                    {{ result }}
                </p>
            </div>
        </div>
        
        <!-- GAN Upsample Buttons -->
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary btn-lg px-5 py-3"
                   role="button" id="upsampleButton16" style="font-size: 24px;">
                   Upsample 4->16 KHz (GAN)
                </button>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary btn-lg px-5 py-3"
                   role="button" id="upsampleButton48" style="font-size: 24px;">
                   Upsample 16->48 KHz (GAN)
                </button>
            </div>
        </div>

        <!-- AudioUnet Upsample Buttons -->
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary btn-lg px-5 py-3"
                   role="button" id="upsampleAudioUnet16Button" style="font-size: 24px;">
                   Upsample 4->16 KHz (AudioUnet)
                </button>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary btn-lg px-5 py-3"
                   role="button" id="upsampleAudioUnet48Button" style="font-size: 24px;">
                   Upsample 16->48 KHz (AudioUnet)
                </button>
            </div>
        </div>

        <!-- Start Over Button -->
        <div class="row mt-1">
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary btn-lg px-5 py-3" 
                        role="button" id="startoverButton" style="font-size: 24px;">
                        Try Again
                </button>
            </div>
        </div>    
    </div>    
    {% endblock %}
</body>


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('#startoverButton').on('click', function() 
    {
        window.location.href = "{{ url_for('file_upload') }}"; // Redirect to start over on button click
    });

    $('#upsampleButton16').on('click', function() {
        window.location.href = "{{ url_for('upsample16') }}";
    });

    $('#upsampleButton48').on('click', function() {
        window.location.href = "{{ url_for('upsample48') }}";
    });

    $('#upsampleAudioUnet16Button').on('click', function() {
        window.location.href = "{{ url_for('upsample16_audiounet') }}";
    });

    $('#upsampleAudioUnet48Button').on('click', function() {
        window.location.href = "{{ url_for('upsample48_audiounet') }}";
    });


</script>
{% endblock %}

